.main-container {
  display: flex;
  height: calc(100vh - 56px);
}

.content {
  /* min-width: 90vw; */
  width: 70vw;
  display: flex;
  flex-direction: column;

  height: fit-content;
  margin: 2.5rem auto;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}

.edit-form {
  background-color: #012c6d;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-field label {
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.form-field input,
.form-field textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: grid;
  grid-gap: 0.5rem;
}

.botao-cadastro {
  grid-row: 1;
  grid-column: span 2;
  padding: 8px 16px;
  width: 175px;

  cursor: pointer;
  color: #fff;

  border: none;
  border-radius: 4px;
  background-color: #4caf50;

  margin: 0 auto;
}

.botao-cadastro:hover {
  background-color: #45a049;
}

.botao-voltar {
  grid-row: 2;
  grid-column: span 2;
  padding: 8px 16px;
  width: 175px;

  cursor: pointer;
  color: #fff;

  border: none;
  border-radius: 4px;
  background-color: #8f0000;

  margin: 0 auto;
}
.botao-voltar:hover {
  background-color: #450000;
}

.content {
  margin-top: 2rem;
}

.edit-form {
  width: 50%;
  margin: 0 auto;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  .edit-form {
    width: 100%;
    padding: 1rem;
    gap: 5px;
    border-radius: 5px;
  }
}

/* Responsividade para tablets */
@media (min-width: 481px) and (max-width: 767.55px) {
  .content
  {
    width: 85%;
  }

  .edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 1rem;
    gap: 5px;
    border-radius: 5px;
  }

  .form-field input{
    width: 100px;
  } 

  .form-field label{
    text-align: center;
  }

  .dataCompleta{
    justify-self: center;
    grid-column: span 3;
  }

  .dataCompleta label{
    color: #fff;
  }

  .observacoes{
    grid-column: span 3;
  }

  .form-buttons{
    grid-column: span 3;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    padding: 1rem;
    gap: 5px;
    border-radius: 5px;
  }

  .form-field input{
    width: 105px;
  } 

  .form-field label{
    text-align: center;
  }

  .dataCompleta{
    justify-self: center;
    grid-column: span 3;
  }

  .dataCompleta label{
    color: #fff;
  }

  .observacoes{
    grid-column: span 3;
  }

  .form-buttons{
    grid-column: span 3;
  }
}


/* Responsividade para telas de desktop - Tela pequena */
@media (min-width: 1025px) and (max-width: 1440px) {
  .edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    padding: 1rem;
    gap: 5px;
    border-radius: 5px;
  }

  .form-field input{
    width: 125px;
  } 

  .form-field label{
    text-align: center;
  }

  .dataCompleta{
    justify-self: center;
    grid-column: span 3;
  }

  .observacoes{
    grid-column: span 3;
  }

  .form-buttons{
    grid-column: span 3;
  }
}

/* Responsividade para telas de desktop - Tela grande */
@media (min-width: 1441px) {
  .edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 45%;
    padding: 1rem;
    gap: 5px;
    border-radius: 5px;
  }

  .form-field input{
    width: 125px;
  } 

  .form-field label{
    text-align: center;
  }

  .dataCompleta{
    justify-self: center;
    grid-column: span 3;
  }

  .observacoes{
    width: 80%;
    grid-column: span 3;
  }

  .form-buttons{
    grid-column: span 3;
  }
}
