body {
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: Trebuchet MS;
}

.header {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.main-container {
  grid-row: 2;
  grid-column: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* height: calc(100vh - 56px); */
}

.side-menu{
  height: 100vh;
  /* height: 100%; */
}

.content {
  width: 90vw;
  margin: 0 auto;
}

/* .content-por-funcionario{
  width: 90vw;
  display: flex;
  flex-direction:column;

  height: fit-content;
  margin: 0 2rem;

  border-radius:5px;
  
} */

.seletor-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50vw;
  margin: .8rem auto;
}

.month-container,
.year-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.exibir-mes,
.exibir-ano {
  display: flex;
  flex-direction: row;
}

.tabela-registro-ponto {
  border: 1px solid #ccc;
  width: 100%;
}

.header-tabela {
  display: flex;
  flex-direction: row;

  margin: auto;
  padding: 8px 0;
  border-top: 2px solid #fba02e;
  border-bottom: 2px solid #fba02e;
  background-color: #012c6d;
}

.item-header-tabela {
  text-align: center;
  margin: auto;
  color: #fff;
}

.linha-tabela {
  display: flex;
  margin: auto;
  padding: 4px 0;
}

.linha-tabela:nth-child(even) {
  background-color: #ccc;
}

.value {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;

  margin: auto;
  max-width: fit-content;
  padding: 2px 5px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-header-tabela:nth-child(1),
.value:nth-child(1) {
  width: 17%;
}

.item-header-tabela:nth-child(2),
.item-header-tabela:nth-child(3),
.item-header-tabela:nth-child(4),
.item-header-tabela:nth-child(5),
.value:nth-child(2),
.value:nth-child(3),
.value:nth-child(4),
.value:nth-child(5) {
  width: 15%;
}

.ponto-actions,
.ponto-actions-container {
  display: none;
  width: 23%;
  flex-direction: row;
  justify-content: space-evenly;
}

.botao-ajuste {
  display: none;
  border: none;
  border-radius: 5px;

  color: #fff;
  background-color: #012c6d;
  padding: 4px 8px;
  transition: all 300ms;
}

.botao-ajuste:hover {
  background-color: #0a4d9e;
}

@media (min-width: 320px) and (max-width: 480.55px) {

}

@media (min-width: 480.56px) and (max-width: 767.55) {
}

@media (min-width: 767.56px) and (max-width: 1024.55px) {
  .content {
    min-width: 0px;
    margin: 0 auto;
    width: 67vw;
  }

  .seletor-data {
    width: 30vw;
  }

  .ponto-actions,
  .ponto-actions-container,
  .botao-ajuste {
    display: flex;
  }

  .value {
    font-size: 0.85rem;
    padding: 2px 6px;
  }
}

@media (min-width: 1024.56px) and (max-width: 1440.55px) {
  .side-menu {
    max-width: 15vw;
  }

  .content {
    min-width: 0px;
    margin: 0 auto;
    width: 67vw;
  }

  .seletor-data {
    width: 30vw;
  }

  .ponto-actions,
  .ponto-actions-container,
  .botao-ajuste {
    display: flex;
  }

  .value {
    font-size: 1rem;
    padding: 2px 6px;
  }
}


@media (min-width: 1440.56px) {
  .side-menu {
    max-width: 15vw;
  }

  .content {
    min-width: 0px;
    margin: 0 auto;
    width: 67vw;
  }

  .seletor-data {
    width: 30vw;
  }

  .ponto-actions,
  .ponto-actions-container,
  .botao-ajuste {
    display: flex;
  }

  .value {
    font-size: 1rem;
    padding: 2px 6px;
  }
}
