.header-horizontal {
  height: 56px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  background-color: #012c6d;
}

.header-logo {
  justify-self: center;
}

.menu-toggler {
  height: 36px;
  width: 36px;
  margin: 8px 16px;
  padding: 4px;
  display: flex;
  background-color: none;
}

.side-menu-container {
  display: flex;
  position: absolute;
  left: -45vw;
  height: calc(100vh - 56px);
  width: 45vw;

  background-color: #012c6d;
  transition: all 300ms;
}

.side-menu-container.collapsed {
  left: 0vw;
  transition: all 300ms;
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-menu-item {
  margin: 8px 16px;
  padding: 4px;
  border-radius: 5px;
}

.side-menu-item:hover {
  display: flex;
  background-color: #67c7e1;
}

.side-menu-link {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;

  width: 100%;
}

.item-name {
  color: #fff !important;
  font-weight: 500;
  margin-left: 8px;
}

.menu-toggler,
.side-item-icon {
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(242deg)
    brightness(105%) contrast(100%);
}

/* Estilos para tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .side-menu-container {
    width: 40vw;
  }
}

/* Estilos para computadores com resolução até 1024px */
@media (min-width: 768px) and (max-width: 1024.55px) {
  .side-menu-container {
    width: 30vw;
  }


}
@media (min-width: 1024.56px) and (max-width: 1440px) {
  .side-menu-container {
    width: 20vw;
    left: 0vw;
  }

  .side-menu-container.collapsed{
    left: -20vw;
  }
}

@media (min-width: 1441px) {
  .side-menu-container {
    width: 15vw;
    left: 0vw;
  }

  .side-menu-container.collapsed{
    left: -15vw;
  }

}
