.main-container {
  display: flex;
  height: calc(100vh - 56px);
}

.content {
  min-width: 90vw;
  width: 90vw;
  display: flex;
  flex-direction: column;

  height: fit-content;
  margin: 2.5rem auto;

  border-radius: 5px;
}

.formulario-cadastro {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 72px;
  background-color: #012c6d;
  padding: 1.5rem;
  border: 2px solid #fba02e;
  border-radius: 15px;
  height: fit-content;
  width: 50vw;
  margin: auto;

}

.funcionario-info{`
  grid-row: 1; 
  grid-column:1;
}

.funcionario-endereco{
  grid-row: 1; 
  grid-column:2;
}

.form-buttons{
  grid-row: 2;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.funcionario-info,
.funcionario-endereco {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-top: 12px;
  display: flex;
  text-align: start;
  font-weight: 500;
  color: #FFF
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
  width: 80%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

#rg,
#cpf{
  color: #FFF;
}


input[type="checkbox"] {
  
}

.admin-container{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: baseline;
  margin-top: 12px
}

.botao-cadastro {
  grid-row: 2;
  grid-column: span 2;
  padding: 8px 16px;
  width: 33%;
  
  cursor: pointer;
  color: #FFF;
  
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;

  margin: 0 auto;

}

.botao-cadastro:hover {
  background-color: #45a049;
}

.botao-voltar {
  grid-row: 2;
  grid-column: span 2;
  padding: 8px 16px;
  width: 33%;
  
  cursor: pointer;
  color: #FFF;
  
  border: none;
  border-radius: 4px;
  background-color: #8F0000;

  margin: 0 auto;

}
.botao-voltar:hover {
  background-color: #450000;
}


.form-buttons{
  width: 35vw;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024.55px) {


  .content{
    min-width: 0px;
    width: 70vw;
  }
}


@media (min-width: 1024.56px) and (max-width: 1440.55px) {

  .content{
    min-width: 0px;
    width: 50vw;
  }

}

@media (min-width: 1440.56px) {
  .side-menu{
    max-width: 15vw;
  }

  .content{
    min-width: 0px;
    width: 50vw;
  }

}