body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: #CCC;
  font-family: Trebuchet MS;

}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: fit-content;

  padding: 1.5rem;
  border: 2px solid #fba02e;
  border-radius: 15px;
  background-color: #012c6d;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: auto;
}

.login-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-label {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  
  margin: 8px;
}

.login-input{
  width: 13rem;
  background-color: #CCC;
  border: none;
  border-radius: 5px;
  margin: 8px 0;
  padding-left: .5rem;
}

.login-button {
  width: 50%;
  color: #FFF;
  background-color: #4CAF50;
  padding: 6px 8px;
  font-weight: 600;

  margin: 1rem auto;

  border: none; 
  border-radius: 5px;
}

.login-button:hover {
  background-color: #45a049;
}


/* Estilos para celulares */
@media (min-width: 320px) and (max-width: 480px) {

  .login-container{
    width: 80%;
  }
  
  .login-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-label {
    margin: 8px;
  }

  .login-input{
    width: 16rem;
  }
}

/* Estilos para tablets */
@media (min-width: 481px) and (max-width: 768px) {
  
  .login-container{
    width: 50%;
  }
  
  .login-title {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-form{
    margin: 0;
  }

  .login-label {
    font-size: 18px;
    margin: 8px;
  }

  .login-input{
    font-size: 14px;
    width: 16rem;
  }
  
}

/* Estilos para computadores com resolução até 1024px */
@media (min-width: 768px) and (max-width: 1024.55px) {
  .login-container{
    width: 35%;
  }

  .login-form{
    margin: 0;
  }
  
  .login-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .login-label {
    font-size: 18px;
    margin: 8px;
  }

  .login-input{
    font-size: 14px;
    width: 16rem;
  }
}

/* Estilos para computadores com resolução até 1440px */
@media (min-width: 1024.56px) and (max-width: 1440px) {
  
  .login-container{
    width: 25%;
    height: fit-content;
  }
  
  .login-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .login-form{
    margin: 0;
  }

  .login-label {
    font-size: 20px;
    margin: 8px;
  }

  .login-input{
    font-size: 16px;
    width: 16rem;
  }
}


/* Estilos para computadores com resolução acima de 1440px */
@media (min-width: 1441px){
  .login-container{
    width: 25%;
    height: fit-content;

  }
  
  .login-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .login-form{
    margin: 0;
  }
  
  .login-label {
    font-size: 20px;
    margin: 8px;
  }

  .login-input{
    font-size: 16px;
    width: 16rem;
  }
} 