.main-container {
  display: flex;
  height: calc(100vh - 56px);
}

.content {
  min-width: 90vw;
  width: 90vw;
  display: flex;
  flex-direction: column;

  height: fit-content;
  margin: 2.5rem auto;

  border: 1px solid #ccc;
  border-radius: 5px;
}

.cabecalho-tabela {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: #012c6d;

  padding: 12px 0;
}

.header-tabela {
  display: flex;
  text-align: center;
  background-color: #012c6d;
}

.coluna-tabela {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 10px 0;
  border-top: 2px solid #fba02e;
  border-bottom: 2px solid #fba02e;
}

.item-header-tabela {
  text-align: center;
}

.item-header-tabela {
  display: flex;
  justify-content: center;
  align-content: center;

  font-weight: 500;

  color: #fff;
}

.funcionario-actions{
  margin: 0 4px;
}

.lista-tabela {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.item-tabela {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.item-tabela:nth-child(even) {
  background-color: #ccc;
}

.item-tabela:nth-child(even) .value {
  background-color: #ccc;
  border: 1px solid #012c6d;
}

.item-header-tabela:nth-child(1),
.item-tabela .value:nth-child(1) {
  width: 60%;
}

.item-header-tabela:nth-child(6),
.item-tabela .value:nth-child(6) {
  width: 40%;
}

.actions-container{
  display: flex;
  justify-content: space-around;
  width: 40%;
}



.value {
  display: flex;
  justify-content: center;
  align-items:center;

  padding: 2px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;

  background-color: #fff;

  border: 1px solid #ccc;
  border-radius: 5px;
}

.funcionario-cpf,
.funcionario-telefone,
.funcionario-email {
  display: none;
}

.actions-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 0 4px;
}

.botao-inativar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #F00;
  border: 1px solid #8F0000;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
  height: 24px;
}

.botao-inativar:hover{
  background-color: #F55;
}

.botao-editar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: #012c6d;
  border: 1px solid #3f88c5;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
  height: 24px;
}

.botao-editar:hover{
  background-color: #0a4d9e;
}

@media (min-width: 481px) and (max-width: 767.55px) {
  .funcionario-cpf,
  .funcionario-telefone,
  .funcionario-email {
    display: none;
  }
}


@media (min-width: 766.56px) and (max-width: 1024.55px) {
  
  .header{
    display:grid;
  }

  .menu-toggler{
    display: flex;
    justify-self: flex-start;s
  }
  
  .side-menu{
    position: absolute;
    left: -25vw;
    transition: all 300ms;
  }
  
  .side-menu.collapsed {
    left: 0vw;
    transition: all 300ms;
  }

  .content {
    min-width: 0px;
  }

  .funcionario-cpf,
  .funcionario-telefone{
     display: flex;
  }

  .item-header-tabela:nth-child(1),
  .item-tabela .value:nth-child(1) {
    min-width: 25%;
  }

  .item-header-tabela:nth-child(2),
  .item-tabela .value:nth-child(2) {
    min-width: 20%;
  }

  .item-header-tabela:nth-child(3),
  .item-tabela .value:nth-child(3) {
    min-width: 20%;
  }

  .item-header-tabela:nth-child(4),
  .item-tabela .value:nth-child(4) {
    width: 0%;
  }

  .item-header-tabela:nth-child(5),
  .item-tabela .value:nth-child(5){
    min-width: 15%;
  }
}

@media (min-width: 1024.56px) and (max-width: 1440.55px) {
  .content {
    min-width: 0px;
    width: 58vw;
  }
  
  .funcionario-cpf,
  .funcionario-telefone,
  .funcionario-email {
    display: flex;
  }

  .item-header-tabela:nth-child(1),
  .item-tabela .value:nth-child(1) {
    width: 25%;
  }

  .item-header-tabela:nth-child(2),
  .item-tabela .value:nth-child(2) {
    width: 13%;
  }

  .item-header-tabela:nth-child(3),
  .item-tabela .value:nth-child(3) {
    width: 13%;
  }

  .item-header-tabela:nth-child(4),
  .item-tabela .value:nth-child(4) {
    width: 25%;
  }

  .item-header-tabela:nth-child(5),
  .item-tabela .value:nth-child(5) {
    width: 15%;
  }
}

@media (min-width: 1440.56px) {
  .side-menu {
    max-width: 15vw;
  }
  
  .content {
    min-width: 0px;
    width: 55vw;
  }

  .funcionario-cpf,
  .funcionario-telefone,
  .funcionario-email {
    display: flex;
  }

  .value{
    width: fit-content;
  }

  .item-header-tabela:nth-child(1),
  .item-tabela .value:nth-child(1) {
    width: 25%;
  }

  .item-header-tabela:nth-child(2),
  .item-tabela .value:nth-child(2) {
    width: 13%;
  }

  .item-header-tabela:nth-child(3),
  .item-tabela .value:nth-child(3) {
    width: 13%;
  }

  .item-header-tabela:nth-child(4),
  .item-tabela .value:nth-child(4) {
    width: 25%;
  }

  .item-header-tabela:nth-child(5),
  .actions-container {
    width: 15%;
  }

}
